body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff7f7;
}

h1{
    text-align: center;
    font-size: 55px;
    color: red;
}

@media screen and (max-width: 768px) {
  h1{
    color: red;
    font-weight: bold;
    text-decoration: underline;
  }
}
/* Macete para deixar uma imagem centralizada na página */
.banner{
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.botao1{
  color: white;
  width: 120px;
  font-size: 15px;
  height: auto;
  background-color: red;
  margin: auto;
  display: block;
}

.margin{
    margin: 0 5%;
}

.top5{
  color: red;
  font-style: italic;
}

.h2{
font-family: 'Lobster', cursive;
}
#imagem10{  /* este é o ID mencionado no index.html */
    border: 1px solid red;
}

.p{
  font-family: 'Montserrat', sans-serif;
}

section{
    text-align: justify; /* texto justificado dentro dessa section */
}

footer{
    font-size: 10px;
    text-align: center;
}
